<aside class="sidebar">

  <div class="logo">
    <h2>RRHH</h2>
    <span>Intertornillos</span>
  </div>

  <nav>

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      Inicio
    </a>

    @if (auth.getNivelJerarquico() >= 2) {
      <a routerLink="/empleados" routerLinkActive="active">Empleados</a>
    }

    <a
      routerLink="/usuarios"
      routerLinkActive="active"
    >
      Usuarios
    </a>

    <a
      routerLink="/departamentos"
      routerLinkActive="active"
    >
      Departamentos
    </a>

    <a
      routerLink="/equipos"
      routerLinkActive="active"
    >
      Equipos
    </a>

    <a
      routerLink="/solicitudes"
      routerLinkActive="active"
    >
      Solicitudes
    </a>

    <a
      routerLink="/vacaciones"
      routerLinkActive="active"
    >
      Vacaciones
    </a>

    <a
      routerLink="/kpis"
      routerLinkActive="active"
    >
      KPIs
    </a>
    <a routerLink="/usuarios/crear">
  Crear usuario
    </a>

    <a routerLink="/usuarios/cambiar-password">
    Cambiar contraseña
    </a>

  </nav>

</aside>
