<aside class="sidebar">

  <div class="logo">
    <h2>RRHH</h2>
    <span>Intertornillos</span>
  </div>

  <nav>

    <a
      routerLink="/dashboard"
      routerLinkActive="active"
    >
      Inicio
    </a>

    @if (auth.getNivelJerarquico() >= 3) {
      <a routerLink="/empleados" routerLinkActive="active">Empleados</a>
    }

@if (auth.getNivelJerarquico() >= 4) { <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a> }

@if (auth.getNivelJerarquico() >= 3) { <a routerLink="/departamentos" routerLinkActive="active">Departamentos</a> }

    <a
      routerLink="/equipos"
      routerLinkActive="active"
    >
      Equipos
    </a>

    <a
      routerLink="/solicitudes"
      routerLinkActive="active"
    >
      Solicitudes
    </a>

    <a
      routerLink="/vacaciones"
      routerLinkActive="active"
    >
      Vacaciones
    </a>

    <a
      routerLink="/kpis/mi-desempeno"
      routerLinkActive="active"
    >
      Mis KPI
    </a>
    @if (auth.getUsuarioSesion(); as usuario) {
      @if (usuario.idEmpleado !== null && [2, 3, 4].includes(usuario.nivelJerarquico)) {
        <a routerLink="/kpis/equipo" routerLinkActive="active">KPI de mi equipo</a>
      }
    }
@if (auth.getNivelJerarquico() >= 4) { <a routerLink="/usuarios/nuevo" routerLinkActive="active">Crear usuario</a> }



  </nav>

</aside>
